*{padding:0;margin: 0;}

body{
	font-family: "Microsoft yahei",Arival;
}

#qcode{
	margin-top: 30px;
    display: inline-block;
    border: 5px solid #fff;
}

.error{
	display: none;
}
.loading{
	position:absolute;
	z-index:999;
	height:100px;
	width: 100%;
	top:30%;
	margin-top:-50px;
}
.loading div{
	width: 100%;
	height: 100px;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	text-align: center;
}
.loading i{
	display: inline-block;
	width:100px;
	height:100px;
	vertical-align: middle;
	margin-right: 15px;
}
.loading span{
	font-size: 20px;
	color:#333;
	line-height:100px;
	display: inline-block;
	vertical-align: middle;
}
.loading img{
	display: block;
	height: 100%;
}


#scratch{
	/*display: none;*/
}
.textarea::-webkit-scrollbar{
	display:none;
}
.scratch-filter{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	background-color: rgba(49, 50, 50, 0.53);
	display: none;
}
.scratch-middle{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 600px;
	height: 700px;
	background: #f4f4f4;
	border-radius: 6px;
}
.scratch-middle h4{
	font-family: SourceHanSansCN-Medium;
	font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333333;
	margin-top: 46px;
	margin-bottom: 58px;
	text-align: center;
}

.works-explain{
	position: relative;
}
.works-explain label {
	font-family: SourceHanSansCN-Regular;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	/*line-height: 50px;*/
	letter-spacing: 0px;
	color: #333333;
	display: inline-block;
	position: absolute;
	top: 20px;
}
.text-twenty{
	font-family: SourceHanSansCN-Regular;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
	margin-left: 314px;
	margin-bottom: 19px;
}
.port{
	display: inline-block;
	width: 297px;
	height: 189px;
	background-color: #ffffff;
	box-shadow: inset 0px 3px 6px 0px
	rgba(199, 198, 198, 0.35);
	border-radius: 3px;
	border: solid 1px #e9e8e8;
	margin-left: 106px;
}
.port .textarea{
	margin-top: 15px;
	margin-left: 14px;
	width: 251px;
	height: 131px;
	overflow-y: scroll;
}
.textarea span{
	display: block;
}
.text-firstline{
	font-family: SourceHanSansCN-Regular;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #babbbc;
	line-height: 30px;
}
.text-secondline{
	font-family: SourceHanSansCN-Regular;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #babbbc;
	line-height: 26px;
}
.text-thirdline{
	font-family: SourceHanSansCN-Regular;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #babbbc;
	/*line-height: 26px;*/
}
.text-fourthline{
	font-family: SourceHanSansCN-Regular;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #babbbc;
	line-height: 20px;
	margin-top: 17px;
}
.text-twohundred{
	font-family: SourceHanSansCN-Regular;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999999;
	margin-left: 306px;
	margin-top: 13px;
	marigin-bottom: 24px;
}
.two-button{
	margin-top: 35px;
}
.two-button .confirm-release{
	width: 122px;
	height: 45px;
	background-color: #7865f7;
	box-shadow: 0px 1px 11px 1px
	rgba(164, 162, 162, 0.36);
	border-radius: 22px;
	font-family: SourceHanSansCN-Regular;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #fff;
	border: 0;
}
.two-button .cancel-release{
	width: 122px;
	height: 45px;
	background-color: #e9e8e8;
	border-radius: 22px;
	font-family: SourceHanSansCN-Regular;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #999;
	margin-left: 53px;
	border: 0;
}

.scratch-middle-right{
	/*width: 342px;*/
	/*height: 273px;*/
    margin: 10px 50px;
	background-color: #fff;
	border-radius: 3px;
}
.scratch-middle-right video{
	width: 500px;
	height: 375px;
	/*background-color: #dcdcdc;*/
}
.release-success, .loading, .uploading{
    display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 700px;
	height: 448px;
	background-color: #ffffff;
	border-radius: 6px;
}
.con-box{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.con-box h4{
	font-family: SourceHanSansCN-Medium;
	font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	margin-top: 40px;
	margin-bottom: 25px;
	letter-spacing: 0px;
	color: #333;
}
.rights-img{
	width: 42px;
	height: 42px;
}
.rights-img img{
	width: 100%;
	height: 100%;
}
.ercode-img{
	width: 250px;
	height: 250px;
	margin-top: 12px;
}
.ercode-img img{
	width: 100%;
	height: 100%;
}
.watch-works{
	font-family: SourceHanSansCN-Regular;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 33px;
	letter-spacing: 0px;
	color: #333;
	/*margin-top: 20px;*/
}
.share-works{
	font-family: SourceHanSansCN-Regular;
	font-size: 18px;
	font-weight: normal;
	letter-spacing: 0px;
	color: #7865f7;
	margin-left: 15px;
}
.fault-code{
	position: absolute;
	right: 16px;
	top: 0px;
	left: auto;
}
.fault-code span{
	color: #999;
	font-size: 35px;
	cursor: pointer;
}
.release-false{
    display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 700px;
	height: 448px;
	background-color: #f4f4f4;
	border-radius: 6px;
}
.con-box-two{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.con-box-two h4{
	font-family: SourceHanSansCN-Medium;
	font-size: 26px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #333;
	margin-top: 77px;
	margin-bottom: 44px;

}
.smile-img{
	width: 164px;
	height: 164px;
}
.smile-img img{
	width: 100%;
	height: 100%;
}
.refresh-release{
	margin-top: 30px;
}
.refresh-release span{
	font-family: SourceHanSansCN-Medium;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #666666;
}

#qrCodeIco{
	background: #fff;
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 2;
    border: solid;
}