<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.teaching.mapper.TeachingWorkCorrectMapper">

	<delete id="deleteByMainId" parameterType="java.lang.String">
		DELETE 
		FROM  teaching_work_correct 
		WHERE
			 work_id = #{mainId} 	</delete>
	
	<select id="selectByMainId" parameterType="java.lang.String" resultType="org.jeecg.modules.teaching.entity.TeachingWorkCorrect">
		SELECT * 
		FROM  teaching_work_correct
		WHERE
			 work_id = #{mainId} 	</select>
</mapper>
